# Data folders and files
data/
*.csv
*.parquet

# Allow the preprocessed preview file
!preprocessed_preview_data/nyc_taxi_preview_15.csv

# Environment variables
.env

# Virtual env
venv/
.env/
.venv

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# IDE
.idea/

# Streamlit cache
.streamlit/

# Logs
*.log